<div>
    <h1>Billify Project</h1>
    <p>This is a simple application that allows you to manage your monthly expenses</p>
    <a href="/">Home</a>
    <h2>Bill</h2>
    <div>
        <h3><%= bill.name %></h3>
        <p><%= bill.amount %></p>
        <p><%= bill.frequency %></p>
    </div>
</div>
